.RData
build/
syntax: glob
*.swp
*.swo
CPack*
CTest*
Testing/
TAGS
.DS_Store
.cproject
.project
.vscode
*.orig
*.idb
*.pdb
*.ncb
*.suo
*.htm
*.user
*.dep
*.manifest
*.rsp
*~
.idea/*
/nbproject/
/doxygen/html/
docs/readthedocs/site
data/screencap/*

# Python
dist/
*.egg-info

.vscode
lib
bin
build

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app

# Generated
Debug/
Release/
Debug-soln/
Release-soln/
*.ncb
*.user
*.pdb
*~
*.swp
*.sdf
*.swo
